.main {
    background-image: radial-gradient(rgb(255, 255, 255), rgb(247, 220, 173));
}

.page-inner {
    max-width: 1280px;
    margin: 0 auto;
}

.cols-4 img {
    max-width: 100%;
}

.cols-4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.cols>* {
    cursor: pointer;
    transition: all 0.2s;
}

.cols>*:hover {
    transform: translateY(-5px);
}

.section-title {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.8rem;
}

.subtitle-underline {
    width: 100px;
    height: 5px;
    background: orange;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.product {
    color: #2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.product-name {
    font-weight: 600;
    margin-top: 0.4rem;
}

.rate {
    color: orangered;
    font-size: 1.3rem;
}

.product-price span {
    font-weight: 600;
}

@media (max-width: 800px) {
    .section-title {
        font-size: 1rem;
    }

    .cols-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-name, .product-price, .rate {
        max-height: 1rem;
        overflow: hidden;
        font-size: 0.8rem;
    }
}