
.orange-dark {
    background-color: rgb(255, 119, 0);
}

.page-inner-content {
    max-width: 1280px;
    margin: 0 auto;
}

.cols {
    display: grid;
    justify-content: space-evenly;
    padding: 4rem 1rem;
}

.cols-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.cols-3 img {
    max-width: 100%;
}

@media (max-width: 800px) {
    .section-title {
        font-size: 1rem;
    }

    .cols-3 {
        grid-template-columns: repeat(1, 1fr);
    }
}